.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: orange;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #EEEEEE;
    height: 80px;
}

#header #nav-bar {
    margin: 1px 20px 1px 1px;
}

#header #nav-bar a {
    margin: 1px 100px 1px 1px;
    text-decoration: none;
}

#header #header-img {
    width: 300px;
}


#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

#form #email {
    margin: 20px;
    width: 200px;
}

#form label {
    font-size: 30px;
    font-weight: 900;    
}

#video {
    margin: 20px;
}

#information h1 {
    font-size: 25px;
}

#information #icon_and_text {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 60px;
}

#information #icon_and_text i{
    margin: 10px 60px 10px 10px;
    color: orange;
}

#information #icon_and_text h1{
    margin: 1px;
    padding: 1px;
}

#information #icon_and_text p{
    margin: 1px;
    padding: 1px;
}

#prices {
    display: flex;
}

#prices #select_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    width: 280px;
    height: 280px;
}

#prices #select_price p {
    margin: 5px;
}

#prices #select_price input {
    margin: 20px;
}

#prices #select_price #price {
    font-weight: bold;
    font-size: 25px;
    margin: 15px 2px 15px 2px;
}

#prices #select_price h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDDDDD;
    font-size: 20px;
    width: inherit;
    height: 40px;
    margin: 0px;
}


#footer {
    background-color: #C1C1C1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer div {
    margin: 20px 16px 5px 5px;
}

#footer a {
    margin: 20px 5px 5px 5px;
    text-decoration: none;
}

#footer p {
    margin: 4px 16px 20px 10px;
}